{% load staticfiles %}
<!DOCTYPE html PUBLIC"-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Rammstein</title>
<link rel="icon" href="{% static 'img/favicon.ico' %}">

<style type="text/css">

ul.menu 
{
	list-style: none; /*убираем маркеры списка*/
	margin: 0; /*убираем отступы*/
	padding-left: 0; /*убираем отступы*/
	margin-top:25px; /*делаем отступ сверху*/
	background:#4F2811; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
	height: 50px; /*задаем высоту*/
	opacity: .6;
}

.menu a 
{
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
	background:#4F2811; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
	color: white; /*меняем цвет ссылок*/
	padding:0px 20px; /*добавляем отступ*/
	font-family: arial; /*меняем шрифт*/
	line-height:50px; /*ровняем меню по вертикали*/
	display: block; 
	/*border-right: 1px solid #0000FF;/*#F36262; /*добавляем бордюр справа*/
	-moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
	font-size: 17px;
	opacity: .9;
}

.menu a:hover
{
	background:#B06B4A;/*добавляем эффект при наведении*/
}

.menu li 
{
	/*Размещаем список горизонтально для реализации меню*/
	float: none;
	display: inline-block;
}

.back_scroll {
	background-image:url({% static 'img/back.jpg' %});
	background-repeat: no-repeat;
	background-attachment:fixed;
}

.text {
	text-align:  center;
	color: #D9D9D9;
	font-size: 18px;
	font-family: arial;
	width: 100%;
}

.block {
	background: black;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px white;
	opacity: .8;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
        
}

</style>
</head>
<body class="back_scroll">

    <ul class="menu">
        <li><a href="{% url 'main' %}">Главная</a></li>
        <li><a href="{% url 'albums' %}">Дискография</a></li>
        <li><a href="{% url 'about' %}">О группе</a></li>
        <li><a href="{% url 'gallery' %}">Галерея</a></li>
    </ul>

    <div class="block">

        <h1 align="center" style="color: White">О группе</h1>

        <h4 style="color: White; padding: 3px; ">
            Rammstein — немецкая метал-группа, образованная в январе 1994 года в Берлине.
            Музыкальный стиль группы относится к жанру индастриал-метала (конкретно — его немецкой сцене Neue Deutsche Härte).
            Основные черты творчества группы: специфический ритм, в котором выдержана большая часть композиций, и эпатирующие тексты песен.
            Особую известность группе принесли сценические выступления, часто сопровождаемые использованием пиротехники,
            получившие признание в музыкальной среде. Состав группы ни разу не менялся.
        </h4>


        
        <img src="{% static 'img/about_image_1.jpg' %}" width="240" height="360" align="left">

        <h4 style="color: White; padding: 3px; ">
            Сооснователь группы и лид-гитарист Рихард Круспе свою музыкальную карьеру начал в 1989 году в западной Германии
            в группе Orgasm Death Gimmick, переехав туда из Шверина (тогдашняя ГДР), куда вернулся после падения
            Берлинской стены. Круспе, поклонник Kiss, искал возможности соединить любимый им хард-рок с электронным
            звучанием индастриала. Примерно в это время он познакомился с Тиллем Линдеманном
            , а позднее с Оливером Риделем и Кристофом Шнайдером  из групп The Inchtabokatables и Die Firma соответственно.
            В этом составе (с Линдеманном как вокалистом и сочинителем песен) они стали играть под названием Rammstein.
        </h4>
        <h4 style="color: White; padding: 3px; ">
            19 февраля 1994 года Rammstein с песнями «Das alte Leid», «Seemann», «Weißes Fleisch»,
            «Rammstein», «Du Riechst So Gut» и «Schwarzes Glas» вчетвером выиграли конкурс молодых групп в Берлине,
            получив право записи на профессиональной студии. Годом позже к группе присоединился второй гитарист
            Пауль Ландерс, а затем и клавишник Кристиан Лоренц, игравшие в панк-группе Feeling B. В таком составе и
            с продюсером Якобом Хельнером был записан дебютный альбом Herzeleid. Все тексты в этом альбоме,
            как и в большинстве последующих, написаны Линдеманном. После нескольких неудачных попыток написать
            тексты на английском, как того требовал лейбл, Тилль настоял на том, чтобы писать песни на немецком.
            Выпущенный на лейбле Motor Music, первый диск Rammstein завоевал широкую популярность
        </h4>
        <h4 style="color: White; padding: 3px; ">
            В 1995 году Rammstein совершили тур по Европе на разогреве у Clawfinger.
            На концертах Rammstein демонстрировали яркие пиротехнические шоу. В 1996 году Rammstein впервые выступили
            на телеканале MTV. В том же году был выпущен новый сингл «Engel», к которому был снят клип, имевший успех.
            За ним вышел второй альбом группы, Sehnsucht, который почти сразу же приобретает статус платинового.
            К концу 1997 года был выпущен внеальбомный сингл «Das Modell» с кавер-версией одноимённой песни
            электронной группы Kraftwerk из альбома Die Mensch-Maschine. Группа пользуется большим успехом как в Германии,
            так и за её пределами. Несколько синглов Rammstein попадали в десятку лучших в Германии.
        </h4>
        <h4 style="color: White; padding: 3px; ">
            Несколько лет фанаты ждали следующей студийной работы группы.
            Такой большой перерыв породил множество разных слухов, в основном о распаде группы.
            Однако в 2000 году Rammstein садятся в студию записывать новый альбом.
            В 2001 году вышел третий студийный альбом под названием Mutter, занявший 4-е место в рейтинге
            лучших индастриал-метал-альбомов по версии журнала Metal Hammer. Вскоре был проведён тур в его поддержку,
            после которого количество фанатов Rammstein значительно увеличилось. Позже были выпущены синглы «Ich will»,
            «Mutter», «Feuer frei!» и видеоклипы к ним. В 2003 году, к десятилетию своего существования,
            Rammstein выпускают DVD Lichtspielhaus c полным собранием клипов и несколькими концертными записями
            в хорошем качестве.
        </h4>
        <img src="{% static 'img/about_image_2.jpg' %}" width="360" height="240" align="right">
        <h4 style="color: White; padding: 3px; ">
            В начале 2004 года появилась достоверная информация о скором выходе нового альбома.
            Через несколько месяцев после этого вышли синглы «Mein Teil» и «Amerika».
            И, наконец, в начале осени был выпущен четвёртый альбом, названный Reise, Reise,
            который очень отличается от стилистики прошлых альбомов группы, что, однако, не помешало ему стать платиновым.
            Альбом немедленно был сопровождён туром, в ходе которого выходит сингл с альбома — «Ohne dich».
            В туре в поддержку альбома шоу лишилось многих спецэффектов (пластиковый фаллос, горящий плащ),
            но взамен приобрело новые.
        </h4>
        <h4 style="color: White; padding: 3px; ">
            В начале 2005 года последовал тур вместе с группой Apocalyptica, после чего вышел сингл «Keine Lust»
            и клип к нему. В сентябре выпускается клип, а затем и сингл «Benzin», одноимённая песня с которого войдёт
            на следующий, пятый альбом группы. В следующем месяце выходит сам альбом, получивший название Rosenrot,
            который содержал 7 старых треков, не вошедших в прошлый альбом, и 4 новые композиции.
            В декабре последовал сингл «Rosenrot». В 2006 году вышел концертный DVD Völkerball,
            запланированный ещё на 2004-й, но вышедший позднее. Диск получил в основном положительные отзывы.
        </h4>
        <h4 style="color: White; padding: 3px; ">
            В 2008 году после трёхлетнего перерыва стало известно о том, что группа записывает новый альбом.
            18 сентября 2009 года вышел первый сингл с нового альбома — «Pussy», а в середине декабря — клип
            «Ich tu dir weh». Сам альбом Liebe ist für alle da (рус. «Любовь существует для всех») был выпущен 16 октября.
            23 апреля 2010 года состоялась премьера клипа «Haifisch».
        </h4>
        <img src="{% static 'img/about_image_3.jpg' %}" width="360" height="240" align="left">
        <h4 style="color: White; padding: 3px; ">
            11 июня 2011 года в сети появилась демо-версия песни «Mein Land», а ещё через несколько дней группа объявила,
            что 6 ноября планирует отправиться в тур, во время которого будут исполняться лучшие песни коллектива с момента основания.
            Также было сказано, что осенью будет выпущен новый сингл и клип, а затем и сборник лучших песен.

            Сингл «Mein Land» и клип на эту песню вышли 11 ноября 2011 года (в Германии, Австрии и Швейцарии).
            Мировая премьера состоялась 14 ноября. Также сингл содержит новую песню «Vergiss uns Nicht».
            Сборник Made in Germany 1995–2011 был выпущен 2 декабря.

            22 марта 2012 года на ECHO Awards в Берлине группа выступила на одной сцене с Мэрилином Мэнсоном,
            исполнив его хит «The Beautiful People».
        </h4>
        <h4 style="color: White; padding: 3px; ">
            22 ноября 2012 года Rammstein объявили о выходе видеоальбома Videos 1995—2012,
            релиз которого состоялся 14 декабря 2012 года. В него вошли все клипы группы,
            видео об их создании, а также 2 новых клипа на песню «Mein Herz Brennt»,
            вышедшую в качестве сингла к видеоальбому. Специально для этого была записана новая версия песни,
            исполненная на фортепиано. Релиз грампластинки и клипа «Mein Herz Brennt — Piano Version»
            состоялся 7 декабря 2012 года. CD макси-сингл и альбомная версия клипа вышли 14 декабря 2012 года.
        </h4>
        <h4 style="color: White; padding: 3px; ">
            28 марта 2019 года Rammstein выпустили первый сингл с нового альбома «Deutschland»
            и объявили дату выпуска нового альбома — Rammstein — 17 мая 2019 года.
            26 апреля 2019 года группа выпустила второй сингл с нового альбома «Radio» и музыкальное видео к нему.
        </h4>


    </div>



    </body>
    </html>
